<h3>Filters</h3>
<p>Post Type, Category, and Status Change: if nothing is selected, then all the options will be used.</p>

<hr>
<h3>Content</h3>
<p>{{ labels.pre_text }}</p>

<h4>{{ labels.content }}</h4>
<pre>[psppno_post]</pre>
<p>{{ labels.available_fields }}: <em>id, title, permalink, date, time, old_status, new_status</em></p>

<h4>{{ labels.actor }}</h4>
<pre>[psppno_actor]</pre>
<p>{{ labels.available_fields }}: <em>id, login, url, display_name, email</em></p>

<h4>{{ labels.workflow }}</h4>
<pre>[psppno_workflow]</pre>
<p>{{ labels.available_fields }}: <em>id, title</em></p>

<h4>{{ labels.edcomment }}</h4>
<pre>[psppno_edcomment]</pre>
<p>{{ labels.available_fields }}: <em>id, content, author, author_email, author_url, author_ip, date</em></p>

<hr>
<a href="https://pressshack.com/publishpress/docs/the-notification-workflows/">{{ labels.read_more }}</a>
