{% include 'workflow_receiver_checkbox_field.twig' %}

<div
	id="pp-post_following_box"
	{% if not meta.selected %}style="display:none;"{% endif %}
	class="{{ id }}_filters" >
	
	<a name="subscriptions"></a>
	<div>
		<h4>{{ label }}</h4>

		{% if users %}
			<ul class="{{ list_class }}">
				{% for user in users %}
					<li>
						<label for="{{ input_id }}{{ user.ID }}">
							<input
								type="checkbox"
								id="{{ input_id }}{{ user.ID }}"
								name="{{ input_name }}[]"
								value="{{ user.ID }}"
								{{ checked( user.selected, true ) }} />

							<span class="pp-user_displayname">{{ user.display_name }}</span>
						</label>
					</li>
				{% endfor %}
			</ul>
		{% endif %}

	</div>

	<div class="clear"></div>
</div>
