<br style="clear: both;">
<footer>
    <div class="pp-rating">
        {% set plugin_name_markup %}
            <strong>{{ plugin_name }}</strong>
        {% endset %}

        {% set rating_stars_markup %}
            <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
        {% endset %}

        <a
                href="//wordpress.org/support/plugin/{{ plugin_slug }}/reviews/#new-post"
                target="_blank"
                rel="noopener noreferrer">{{ rating_message|format(plugin_name_markup, rating_stars_markup)|raw }}</a>
    </div>
    <hr>
    <nav>
        <ul>
            <li>
                <a href="//publishpress.com" target="_blank" rel="noopener noreferrer" title="About {{ plugin_name }}">About</a>
            </li>
            <li>
                <a href="//publishpress.com/documentation/" target="_blank" rel="noopener noreferrer"
                   title="{{ plugin_name }} Documentation">Documentation</a>
            </li>
            <li>
                <a href="//publishpress.com/contact" target="_blank" rel="noopener noreferrer"
                   title="Contact the PublishPress team">Contact</a>
            </li>
            <li>
                <a href="//twitter.com/publishpresscom" target="_blank" rel="noopener noreferrer">
                    <span class="dashicons dashicons-twitter"></span>
                </a>
            </li>
            <li>
                <a href="//facebook.com/publishpress" target="_blank" rel="noopener noreferrer">
                    <span class="dashicons dashicons-facebook"></span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="pp-pressshack-logo">
        <a href="//publishpress.com" target="_blank" rel="noopener noreferrer">
            <img src="{{ plugin_url }}/common/img/publishpress-logo.png">
        </a>
    </div>
</footer>
</div> {# .publishpress-admin.pressshack-admin-wrapper.wrap #}
