{% if url %}
<a href="{{ url }}">
    {% endif %}

    <div
            class="publishpress-module module-enabled {{ has_config_link ? 'has-configure-link' }}"
            id="{{ slug }}">

        {% if icon_class %}
            <span class="{{ icon_class }} float-right module-icon"></span>
        {% endif %}

        <form
                method="GET"
                action="{{ form_action }}">

            <h4>{{ title|e }}</h4>
            <p>{{ description }}</p>
        </form>
    </div>

    {% if url %}
</a>
{% endif %}
