<h2>{{ labels.title }}</h2>

<table class="form-table psppno_workflow_user_fields">
    <tr>
        <th>
            {{ labels.description }}
        </th>
        <td>
            <table class="psppno_workflows">
                <tr>
                    <th class="psppno_workflow_column_header psppno_workflows">{{ labels.workflows }}</th>
                    <th class="psppno_workflow_column_header psppno_channels">{{ labels.channels }}</th>
                    <th class="psppno_workflow_column_header psppno_options"></th>
                </tr>
                {% for workflow in workflows %}
                    <tr class="psppno_workflow_{{ workflow.ID }}">
                        <td class="psppno_workflow_title">{{ workflow.post_title }}</td>
                        <td class="psppno_workflow_channel">
                            {% for channel in channels %}
                                <div class="psppno_workflow_channel_field">
                                    <input
                                            type="radio"
                                            id="psppno_workflow_channel_{{ workflow.ID }}_{{ channel.name }}"
                                            name="psppno_workflow_channel[{{ workflow.ID }}]"
                                            value="{{ channel.name }}"
                                            data-workflow-id="{{ workflow.ID }}"
                                            {{ checked( channel.name, attribute( workflow_channels, workflow.ID ) ) }}
                                    />

                                    <label for="psppno_workflow_channel_{{ workflow.ID }}_{{ channel.name }}">
                                        <img src="{{ channel.icon }}"/>
                                        <span>{{ channel.label }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </td>
                        <td class="psppno_workflow_channel_options">
                            {% for channel in channels %}
                                {% if channel.options %}
                                    <div class="psppno_workflow_{{ channel.name }}_options">
                                        {% for channel_option in channel.options %}
                                            <div
                                                    class="psppno_workflow_channel_option_{{ channel_option.name }}"
                                                    data-channel="{{ channel.name }}">

												{{ channel_option.html|replace({'%workflow_id%':workflow.ID, '%value%': channels_options[workflow.ID][channel.name][channel_option.name]})|raw }}
											</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
