<label for="{{ id }}_from">{{ labels.from }}</label>
<select multiple="multiple" class="{{ list_class }}" name="{{ name }}[from][]" id="{{ id }}_from">
    {% for option in options_from %}
        <option
                value="{{ option.value }}"
                {{ selected( option.selected, true ) }} >{{ option.label }}</option>
    {% endfor %}
</select>

<label for="{{ id }}_to">{{ labels.to }}</label>
<select multiple="multiple" class="{{ list_class }}" name="{{ name }}[to][]" id="{{ id }}_to">
    {% for option in options_to %}
        <option
                value="{{ option.value }}"
                {{ selected( option.selected, true ) }} >{{ option.label }}</option>
    {% endfor %}
</select>
