<div>
    {% if label %}
        <label for="{{ id }}">{{ label }}</label>
    {% endif %}

    <input
            type="text"
            name="{{ name }}"
            id="{{ id }}"
            value="%value%"
            placeholder="{{ placeholder }}"
            {% if description %}
                title="{{ description }}"
            {% endif %}
    />

</div>
