<div>
    <input
            type="checkbox"
            name="{{ name }}"
            id="{{ id }}"
            value="{{ value }}"
            {{ checked( meta.selected, 1 ) }} />

    <label for="{{ id }}">{{ label|raw }}</label>

</div>
