<div>
    <input
            type="checkbox"
            name="{{ name }}"
            id="{{ id }}"
            value="{{ value }}"
            {{ checked( meta.selected, 1 ) }} />

    <label for="{{ id }}" class="noselect">{{ label }}</label>

    {% if event_filters %}
        <ul class="{{ id }}_filters publishpress-filter-checkbox-list"
            {% if not meta.selected %}style="display:none;"{% endif %} >
            {% for event_filter in event_filters %}
                <li>
                    {{ event_filter.render() }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
