<div>
    <div>
        <label for="{{ input_id }}subject">{{ labels.subject }}</label>
        <input
                type="text"
                name="{{ input_name }}[subject]"
                id="{{ input_id }}subject"
                value="{{ subject|raw }}"/>
    </div>

    <div>
        <label>{{ labels.body }}</label>
        {% set editor_name = input_name ~ '[body]' %}
        {{ editor( body, 'input_id', { 'textarea_name': editor_name } ) }}
    </div>
</div>
