{% include 'workflow_receiver_checkbox_field.twig' %}

<div
        id="publishpress_notif_user_list_filter"
        {% if not meta.selected %}style="display:none;"{% endif %}
        class="{{ id }}_filters publishpress-filter-checkbox-list">

    {% if users %}
        <select multiple="multiple" class="{{ list_class }}" name="{{ input_name }}" id="{{ input_id }}">
            {% for user in users %}
                <option value="{{ user.ID }}" {{ selected( user.selected, true ) }}>{{ user.display_name }}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>
