{% include 'workflow_receiver_checkbox_field.twig' %}

<div
        id="publishpress_notif_user_group_list_filter"
        {% if not meta.selected %}style="display:none;"{% endif %}
        class="{{ id }}_filters publishpress-filter-checkbox-list">

    {% if user_groups %}
        <select multiple="multiple" class="{{ list_class }}" name="{{ input_name }}">
            {% for group in user_groups %}
                <option value="{{ group.term_id }}" {{ selected( group.selected, true ) }}>{{ group.name }}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>
