<div>
    <input
            type="checkbox"
            name="{{ name }}"
            id="{{ id }}"
            value="{{ value }}"
            {{ checked( selected, true ) }} />

    <label for="{{ id }}">{{ label|raw }}</label>

</div>
