<div id="psppno-workflow-metabox" class="pure-g">

    <!-- Events -->
	{{ section_event|raw }}

	<!-- Event Content -->
	{{ section_event_content|raw }}

	<!-- Receiver -->
	{{ section_receiver|raw }}

	<!-- Content -->
	{{ section_content|raw }}

	<!-- Channel -->
	{{ section_channel|raw }}

</div>
