<ul class="pp-block-addons-items">
    {% for name, addon in addons %}
        <li class="pp-block-addons-item {{ addon.active ? 'active' : '' }}">
            <img src="{{ icons_base_path }}{{ name }}.jpg"/>

            <h3>{{ addon.title }}</h3>

            <p>{{ addon.description }}</p>


            {% if addon.available %}
                {% if addon.installed %}
                    {% if addon.active %}
                        <div>
                            <span class="dashicons dashicons-yes"></span><span>{{ labels.active }}</span>
                        </div>
                    {% else %}
                        <div>
                            <span>{{ labels.installed }}</span>
                        </div>
                    {% endif %}
                {% else %}
                    <a href="https://publishpress.com/addons/" class="button button-primary">
                        <span class="dashicons dashicons-cart"></span> {{ labels.get_pro_addons }}
                    </a>
                {% endif %}
            {% else %}
                <div>{{ labels.coming_soon }}</div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
